<%= form_for @myticket, :html => { :class => "form-horizontal myticket" } do |f| %>

    <% if @myticket.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@myticket.errors.count, "error") %> prohibited this myticket from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @myticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>
    <%= error_span(@myticket[:subject]) %>
  </div>
  <div class="control-group">
    <%= f.label :departament, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :departament_id, Departament.all.map {|i| [i.title, i.id] }, :class => 'form-control' %>
    </div>
    <%= error_span(@myticket[:departament]) %>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
    <%= f.select :category_id, Category.all.map {|i| [i.name, i.id] }, :class => 'form-control' %>
    </div>
    <%= error_span(@myticket[:categories]) %>
  </div>
  <div class="control-group">
    <%= f.label :mensage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :mensage, :class => 'form-control' %>
    </div>
    <%= error_span(@myticket[:mensage]) %>
  </div>
  <div class="control-group">
    <%= f.label :upload, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :upload, :class => 'form-control' %>
    </div>
    <%= error_span(@myticket[:upload]) %>
  </div>

  <% unless current_user.client? %>
    <div class="control-group">
      <%= f.label :status, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :status, Myticket.statuses, :class => 'form-control' %>
      </div>
      <%= error_span(@myticket[:categories]) %>
    </div>
  <% end %>

  <br/>
  <div class="control-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              mytickets_path, :class => 'btn btn-default' %>
  </div>

<% end %>
