<p id="notice"><%= notice %></p>

<p>
  <strong>Id customer:</strong>
  <%= @myticket.id_customer %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @myticket.subject %>
</p>

<p>
  <strong>Departament:</strong>
  <%= @myticket.departament %>
</p>

<p>
  <strong>Category:</strong>
  <%= @myticket.category %>
</p>

<p>
  <strong>Category:</strong>
  <%= @myticket.category %>
</p>

<p>
  <strong>Mensage:</strong>
  <%= @myticket.mensage %>
</p>

<p>
  <strong>Upload:</strong>
  <%= @myticket.upload %>
</p>

<p>
  <strong>Status:</strong>
  <%= @myticket.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @myticket.date %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @myticket.deadline %>
</p>

<%= link_to 'Edit', edit_myticket_path(@myticket) %> |
<%= link_to 'Back', mytickets_path %>
